<%% unless @<%= plural_name%>.blank? %>
    <div class="news-post">
      <%% @<%= plural_name%>.each do |post| %>
          <div class="post-item">
            <div class="news-date">
              <%%= post.created_at.strftime("%d.%m.%Y") %>
            </div>
            <div class="list-posts">

              <%%= title(post.title, :link => <%= singular_name%>_url(:id => post.id))%>
            </div>
          </div>

      <%% end %>
    </div>
<%% end %>
<%% if admin? %>
    <div class="post-operations">      
      <%%= link_to I18n.t('<%= plural_name%>.add_post'), new_<%= singular_name%>_url %>
    </div>
<%% end %>